.intro {
  width: 100%;
  text-align: center;
  background-color: #FFFFDB;
  min-height: 100%;
  padding-top: 70px; }
  .intro__nametag {
    width: 20%;
    min-width: 300px;
    max-width: 350px;
    display: inline-block;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.2);
    border-radius: 10px; }
    .intro__nametag-top {
      background-color: #ff3333;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; }
      .intro__nametag-top__h1 {
        margin: 0; }
    .intro__nametag-middle {
      background-color: white; }
    .intro__nametag-end {
      background-color: #ff3333;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      padding: 10px; }

.hello {
  display: block;
  font-family: 'Lilita One', cursive;
  color: white;
  line-height: 1;
  font-size: xxx-large;
  letter-spacing: 7px;
  text-transform: uppercase; }

.myname {
  display: block;
  font-family: 'Sawarabi Gothic', sans-serif;
  color: white;
  line-height: 1;
  padding-bottom: 7px; }

.torie {
  margin-block-start: 0;
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 3px;
  padding-top: 10px; }

.occupation {
  margin-block-end: 0;
  font-family: 'Shadows Into Light', cursive;
  font-size: larger;
  font-weight: bold; }

.about {
  background-color: pink;
  min-height: 100%;
  text-align: center;
  padding-top: 70px; }

.resume {
  background-color: lightblue;
  min-height: 100%;
  text-align: center;
  padding-top: 70px; }

.skills {
  background-color: lightgrey;
  min-height: 100%;
  text-align: center;
  padding-top: 70px; }

.projects {
  background-color: aliceblue;
  min-height: 100%;
  text-align: center;
  padding-top: 70px; }

.contact {
  background-color: palegreen;
  min-height: 100%;
  text-align: center;
  padding-top: 70px; }

html {
  scroll-behavior: smooth; }

.row.display-flex {
  display: flex;
  flex-wrap: wrap; }

.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column; }

.col {
  min-height: 350px !important;
  padding: 0 !important; }

@media (min-width: 768px) {
  .container {
    max-width: 100% !important; } }
