@import 'layout/intro.scss';
@import 'layout/about.scss';
@import 'layout/resume.scss';
@import 'layout/skills.scss';
@import 'layout/projects.scss';
@import 'layout/contact.scss';



html {
    scroll-behavior: smooth; 
}

body {
    // min-height: 100%;
    // margin: 0;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
} 

.col {
    min-height: 350px !important;
    padding: 0 !important;
}




 
@media (min-width:768px) { 

    .container {
        max-width: 100% !important;
    }

} 

// @media (min-width:1024px) { 
//     
// }