.contact {
    background-color: palegreen;
    min-height: 100%;
    text-align: center;
    padding-top: 70px;
    max-height: 350px !important;
    
    &__container {
        transform-origin: top;
        transform: scale(0.5);
        text-align: center;
    }
}

.contact_icon {
    transform: scale(0.75);
    transform-origin: top;
    display: inline-block;
}