.resume {
    // background-color: lightblue;
    background-color: #81B8D9;
    min-height: 100%;
    text-align: center;
    padding-top: 70px;
    max-height: 350px !important;
    
    &__container {
        transform-origin: top;
        transform: scale(0.5);
        text-align: center;
    }
}  

.resume:hover {
    background-color: #265C7E;
    
    .titles {
        color: white;
    }
}

.resume_icon {
    transform: scale(0.75);
    transform-origin: top;
    display: inline-block;
}