//---index.html---

.skills {
    background-color: lightgrey;
    min-height: 100%;
    text-align: center;
    max-height: 350px !important;
    padding-top: 40px;
    
}  

//---skills.html---

.skills-page {
    height: 100%;
    background-color: lightgrey;
}